.container {
  margin-top: 5%;
  margin-left: 20%;
  margin-right: 20%;
  display: grid;
  grid-auto-rows: minmax(50px, auto);
  /* grid-template-columns: 60% 40%; */
  grid-template-rows: repeat(2, 1fr);
  border: 5px solid rgb(98, 212, 22);
  grid-auto-rows: 500px;
  grid-gap: 15px;
}
.header {
  display: grid;
  border: 5px solid red;
  grid-template-columns: 80% 20%;
}
.header h1 {
  border: 2px solid red;
  /* grid-column: 1/3; */
}

.header span {
  border: 2px solid rgb(55, 0, 255);
  display: flex;
  align-items: center;
  justify-content: center;
}

.UserProFile {
  border: 5px solid rgb(14, 10, 219);
}
.follow {
  border: 5px solid rgb(25, 207, 162);
}
.user {
  list-style: none;
}
