.container {
  margin-top: 20px;
  display: grid;
  grid-template-rows: 80% 40%;
  grid-template-rows: repeat(2, 1fr);
  border: 5px solid rgb(98, 212, 22);
  grid-gap: 15px;
}
.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.header span {
  display: flex;
  align-items: center;
  justify-content: center;
}

.UserProFile {

  display: flex;
  border: 5px solid rgb(25, 92, 119);
  justify-content: space-around;
}
.ProfilePotos {
  display: inline-flex;
}
.ProfilePotos > div {
  /* display: flex; */
  display: flex;
  align-items: center;
  border: 5px solid rgb(25, 92, 119);
  flex-direction: column;
}

.ProfilePotos img {
  /* border: 5px solid rgb(17, 18, 19); */
  justify-content: space-around;
}
.ProfilePotos button {
  text-align: center;
}
.serch_user {
  display: flex;
  justify-content: space-around;
}
.follow {
  display: flex;
  border: 5px solid rgb(25, 207, 162);
  justify-content: center;
  align-items: center;
  background: firebrick;
  flex-direction: column;
  width: 500px;
}
.user {
  list-style: none;
}

button {
  -webkit-transition: all 200ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
  -moz-transition: all 200ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
  -ms-transition: all 200ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
  -o-transition: all 200ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
  transition: all 200ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
  display: block;
  border-radius: 4px;
  color: rgb(2, 22, 22);
  box-shadow: rgb(39, 17, 13) 0 0px 0px 0px inset;
  font-size: 30px;
  background-color: thistle;
  width: 190px;
}

button:hover {
  color: rgba(255, 255, 255, 0.85);
  box-shadow: rgb(39, 17, 13) 0 80px 0px 2px inset;
  cursor: pointer;
}

.Exit {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
}
