* {
  box-sizing: border-box;
  margin: 10px;
  color: aliceblue;
  font-family: 'Courier New', Courier, monospace;
}
body {
  background: url('./candy-bar-1735659_1920.jpg');
  background-position: center;
  background: size 100%;
  background-repeat: no-repeat;
}

button {
  background: inherit;
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  overflow: visible;
  cursor: pointer;
}

.main {
  border: 5px solid red;
  flex-direction: column;
  width: 500px;
  height: 300px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.logo_div {
  border: 2px solid mediumturquoise;
  display: flex;
  justify-content: center;
}

.logo {
  border: 2px solid mediumturquoise;
}

.member_entry_btn {
  cursor: pointer;
}

.entry_div {
  border: 2px solid blue;
  display: flex;
  justify-content: center;
}

.signup_div {
  border: 2px solid green;
  display: flex;
  justify-content: center;
}

.signup_btn {
  cursor: pointer;
}

.game {
  border: 2px solid orange;
  display: flex;
  justify-content: center;
}
