* {
  box-sizing: border-box;
  margin: 10px;
}

button {
  background: inherit;
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  overflow: visible;
  cursor: pointer;
}

.main {
  border: 2px solid red;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.logo_div {
  border: 2px solid mediumturquoise;
  display: flex;
  justify-content: center;
}

.logo {
  border: 2px solid mediumturquoise;
}

.member_entry_btn {
  cursor: pointer;
}

.entry_div {
  border: 2px solid blue;
  display: flex;
  justify-content: center;
}

.signup_div {
  border: 2px solid green;
  display: flex;
  justify-content: center;
}

.signup_btn {
  cursor: pointer;
}

.game {
  border: 2px solid orange;
  display: flex;
  justify-content: center;
}
