Waiting {
  margin: 10px;
}

.waiting_signout_btn {
  float: right;
  margin-right: 20px;
}

.waiting_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.waiting_btns {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 20px;
}

.entry_game_btn {
  zoom: 4;
  background-color: black;
}

.create_game_btn {
  zoom: 4;
}

.mypage_btn {
  zoom: 4;
}

.userInfo {
  zoom: 3;
}
