* {
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  padding: 0;
  font-family: 'CookieRunOTF-Bold';
}
@font-face {
  font-family: 'CookieRunOTF-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/CookieRunOTF-Bold00.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  width: 100%;
  height: 100%;
  background-image: url('./images/mindcaptor_background_blueGame.png');
}
body {
  /* background-image: url('./images/mindcaptor_background_game.png'); */
  background-size: cover;
  background-repeat: repeat;
  background-size: 1000px;
  /* background-image: linear-gradient(#f4f9f9, #ccf2f4, #a4ebf3, #aaaaaa); */
}

input {
  border-radius: 30px;
  font-size: 15px;
  transition: 500ms ease all;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
  outline: none;
}

input:focus {
  box-shadow: 0px 0px 5px 0px #1669f2;
  color: #0f4d86;
}

button {
  background: #4fb3db;
  color: #fff;
  border: 5px solid #0f4d86;
  border-radius: 30px;
  height: 60px;
  font-size: 1.5rem;
  cursor: pointer;
  transition: 500ms ease all;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
  margin: 30px;
}

button:hover {
  border: 2px solid #4fb3db;
  background: #fff;
  color: #0f4d86;
}

button:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}
button:hover:before,
button:hover:after {
  width: 100%;
  transition: 500ms ease all;
}

.mainTotal {
  display: flex;
  flex-direction: row;
}
.main {
  flex-direction: column;
  width: 500px;
  height: 300px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}

.logo {
  border-radius: 30px;
  filter: drop-shadow(5px 5px 5px #000);
}

.entry_div {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
/*guest login*/
.entry_btn {
  width: 300px;
  font-size: 30px;
  height: 80px;
  cursor: pointer;
  margin-right: 60px;
}
.entry_btn:hover {
  width: 350px;
}

.member_entry_btn {
  width: 300px;
  font-size: 30px;
  height: 80px;
  cursor: pointer;
  margin-left: 60px;
}
.member_entry_btn:hover {
  width: 350px;
}
.main_btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  margin-right: 20px;
  right: 0;
  top: 0;
}

.member_signup_btn {
  width: 150px;
  height: 60px;
  cursor: pointer;
  border-radius: 100px;
  margin-bottom: 10px;
}

.summery_btn {
  width: 150px;
  height: 60px;
  cursor: pointer;
  border-radius: 100px;
  margin-bottom: 10px;
}

.howToPlay_btn {
  width: 150px;
  height: 60px;
  cursor: pointer;
  border-radius: 100px;
}

/*Signin********************************************************************/

.container_singin {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
}

.failed_sginin {
  position: absolute;
  box-sizing: border-box;
  text-align: center;
  width: 400px;
  height: 100px;
  border: 5px solid #0f4d86;
  border-radius: 15px;
  padding: 35px;
  background-color: #77acf1;
  transition: opacity 1.5s ease;
  font-size: 20px;
  color: white;
  bottom: 500px;
}

.signin {
  width: 480px;
  height: 600px;
  background-color: white;
  position: relative;
  box-sizing: border-box;
  margin: 50px auto;
  padding: 20px;
  background: #fff;
}

.signin_box {
  margin: 0 auto;
  width: 100%;
  height: 500px;

  position: relative;
  padding: 0 20px 30px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.signin_exit {
  float: right;
  font-size: 30px;
  cursor: pointer;
  color: black;
}

.signin_logo {
  width: 150px;
  margin: 0 auto;
}

.signin_input {
  margin-top: 20px;
  border-radius: 2px;
  width: 100%;
  height: 40px;
  border: 1px solid #e5e5e5;
  padding: 9px 12px;
  outline: none;
  box-sizing: border-box;
  justify-content: center;
}

.signin_btn {
  height: 40px;
  width: 100%;
  font-size: 15px;
  padding: 13px 30px;
  cursor: pointer;
  color: white;
  line-height: 1px;
  margin-top: 20px;
  margin-bottom: 12px;
  border-radius: 3px;
  border-style: none;
  justify-content: center;
}

.signin_btn:hover {
  box-shadow: 0 0 6px #4285f4;
}
.signin_btn:active {
  background: #1669f2;
}

/*googleSocialLogin*****************************************************/

.social_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-around;
}

.social_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  border-radius: 50%;
}

/* $white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669f2; */

.google-btn {
  width: 400px;
  height: 42px;
  background-color: #4285f4;
  border-radius: 2px;
  cursor: pointer;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
}

.google-icon-wrapper {
  position: absolute;
  margin-top: 1px;
  margin-left: 1px;
  width: 40px;
  height: 40px;
  border-radius: 2px;
  background-color: #fff;
}

.google-icon {
  position: absolute;
  margin-top: 11px;
  margin-left: 11px;
  width: 18px;
  height: 18px;
}

.btn-text {
  margin: 11px 11px 0 0;
  color: #fff;
  font-size: 15px;
  letter-spacing: 0.2px;
  font-family: 'Roboto';
  text-align: center;
  margin-left: 25px;
}

.google-btn:hover {
  transition: 500ms ease all;

  box-shadow: 0 0 6px #4285f4;
}
.google-btn:active {
  background: #1669f2;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:500);

/*Signup********************************************************************/

* {
  margin: 0;
  padding: 0;
}

.container_signup {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
}

.signup {
  width: 480px;
  height: 600px;
  background-color: white;
  position: relative;
  box-sizing: border-box;
  margin: 50px auto;
  padding: 20px;
  background: #fff;
}

.signup_box {
  margin: 0 auto;
  width: 100%;
  height: 500px;
  position: relative;
  padding: 0 20px 30px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.signup_exit {
  float: right;
  font-size: 30px;
  cursor: pointer;
  color: black;
}

.signup_input {
  margin-top: 20px;
  border-radius: 2px;
  width: 100%;
  height: 40px;
  border: 1px solid #e5e5e5;
  padding: 9px 12px;
  outline: none;
  box-sizing: border-box;
  justify-content: center;
}

.signup_btn {
  height: 40px;
  width: 100%;
  font-size: 15px;
  padding: 13px 30px;
  cursor: pointer;
  color: white;
  line-height: 1px;
  margin-top: 20px;
  margin-bottom: 12px;
  border-radius: 3px;
  border-style: none;
  justify-content: center;
}

.signup_btn:hover {
  box-shadow: 0 0 6px #4285f4;
}
.signup_btn:active {
  background: #1669f2;
}

/*Waiting********************************************************************/
.createRoomForm {
  background-image: url('./images/mindcaptor_background_blue.png');
  background-size: cover;
  display: flex;
  border-radius: 30px;
  width: 400px;
  height: 300px;
  position: relative;
  box-sizing: border-box;
  margin: 50px auto;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: 5px solid #0f4d86;
}
.createRoom_exit {
  font-size: 30px;
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 10px;
  cursor: pointer;
}
.createRoom {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
}
.createRoomInput {
  display: flex;
  flex-direction: column;
}
.createRoomInput input {
  margin: 10px;
  width: 250px;
  height: 40px;
  padding: 10px;
}
.waiting {
  display: flex;
  flex-direction: column;
}

.profile_img {
  filter: drop-shadow(5px 5px 5px #000);
  border-radius: 30px;
  margin-bottom: 30px;
}

.waiting_signout_btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  margin-right: 20px;
  right: 0;
  top: 0;
}

.signout_btn {
  width: 150px;
  height: 60px;
  cursor: pointer;
  border-radius: 100px;
}

.waiting_box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.waiting_btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px;
}

.entry_game_btn {
  width: 300px;
  font-size: 50px;
  height: 110px;
}
.entry_game_btn:hover {
  width: 350px;
}

.create_game_btn {
  width: 300px;
  font-size: 50px;
  height: 110px;
}
.create_game_btn:hover {
  width: 350px;
}

.mypage_btn {
  width: 350px;
  font-size: 50px;
  height: 110px;
}

.guestMyPageBtn {
  width: 350px;
  font-size: 50px;
  height: 110px;
  background-color: #4fb3db8c;
  color: rgba(255, 255, 255, 0.589);
}
.guestMyPageBtn:hover {
  width: 350px;
}
.guestMyPageBtn::before {
  font-size: 50px;
  content: '마이페이지';
}
.guestMyPageBtn:hover::before {
  font-size: 45px;
  content: '로그인 해주세요!';
}

.userInfo {
  zoom: 3;
}

/*MyPages********************************************************************/

.container {
  margin-top: 20px;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 50px;
}

.header h1 {
  font-size: 50px;
  line-height: 120px;
}

.header span {
  display: flex;
  align-items: center;
  justify-content: center;
}

.UserProFile {
  display: flex;
  justify-content: center;
  margin-top: 70px;
  flex-direction: column;
}

.UserProFile img {
  margin: 10px;
  border: 5px solid rgb(25, 92, 119);
  cursor: pointer;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
}
.profileImg0 {
  transition: opacity 0.3s ease;
}
.profileImg1 {
  transition: opacity 0.6s ease;
}
.profileImg2 {
  transition: opacity 0.9s ease;
}
.profileImg3 {
  transition: opacity 1.2s ease;
}
.ProfilePhotos {
  display: flex;
  justify-content: center;
}
.ProfilePhotos > div {
  /* display: flex; */
  display: flex;
  align-items: center;
  flex-direction: column;
}

.ProfilePhotos img {
  /* border: 5px solid rgb(17, 18, 19); */
  justify-content: space-around;
  width: 220px;
  height: 220px;
}

.pro_search_box {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.user {
  list-style: none;
}

.Exit {
  display: flex;
  position: absolute;
  right: 0;
  top: 0;
}

.Exit button {
  width: 100px;
}

.proBox {
  display: flex;
  flex-direction: column;
  width: 220px;
  height: 250px;
  position: relative;
  border: 5px solid rgb(25, 92, 119);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
}

.changeProPhoto {
  margin: 10px;
  font-size: 15px;
  width: 50px;
  height: 35px;
  position: absolute;
  right: 0;
  top: 0;
  box-shadow: 0px 0px rgba(0, 0, 0, 0.5);
  background-color: white;
  color: #0f4d86;
}

.changeProPhoto:hover {
  background-color: #0f4d86;
  color: white;
  border: 2px solid white;
}

.proPhoto {
  width: 210px;
  height: 210px;
  position: absolute;
}
.userNickName {
  position: absolute;
  bottom: 0;
  padding-bottom: 5px;
  padding-left: 3px;
}

.community {
  display: flex;
  flex-direction: row;
  height: 250px;
}
.communityBox {
  display: flex;
  flex-direction: column;
}
.followBox {
  display: flex;
  flex-direction: row;
}

.introBox {
  margin-top: 10px;
  width: 700px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.intro {
  display: flex;
  width: 250px;
  height: 256px;
  flex-direction: column;
  background-image: url('./images/mindcaptor_canvas.png');
}

.intro h1 {
  text-align: center;
  margin-top: 20px;
}

.intro textarea {
  vertical-align: text-top;
  border-radius: 4px;
  width: 160px;
  height: 75px;
  margin-left: 49px;
  border: 0;
  box-shadow: 0px 0px rgba(0, 0, 0, 0.5);
  background-color: #e5e5e5;
  padding-left: 2px;
  padding-bottom: 40px;
  outline: none;
  font-size: 15px;
}

.following {
  width: 250px;
  margin: 10px;
}

.following input {
  border-radius: 4px;
  border: 0;
  height: 30px;
  padding: 5px;
  margin-top: 10px;
}

.followList {
  padding-left: 5px;
  line-height: 30px;
  margin-top: 10px;
  width: 200px;
  height: 150px;
  overflow-y: scroll;
}
/* .followList::-webkit-scrollbar {
  width: 10px;
}
.followList::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}
.followList::-webkit-scrollbar-thumb {
  background-color: rgb(0, 0, 0);
} */

.follower {
  width: 250px;
  margin: 10px;
}
.follower input {
  border-radius: 4px;
  border: 0;
  height: 30px;
  padding: 5px;
  margin-top: 10px;
}

.changedProfile {
  box-sizing: border-box;
  text-align: center;
  width: 400px;
  height: 100px;
  border: 5px solid #0f4d86;
  border-radius: 15px;
  padding: 25px;
  background-color: #77acf1;
  transition: opacity 0.5s linear;
  font-size: 20px;
  color: white;
  margin-left: 50px;
  position: absolute;
  top: 0;
  left: 32rem;
  margin-top: 30px;
}

.logo_signup {
  width: 300px;
}

/* .pswBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
} */

.changePsw {
  font-size: 20px;
  width: 140px;
  height: 50px;
  position: absolute;
  margin-top: 20px;
  margin-left: 40px;
}
.changePswInput {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 4px;
  padding: 3px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
}
.changePswBtn {
  font-size: 15px;
  width: 50px;
  height: 35px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  float: right;
}

/*GamePages********************************************************************/
.inGameLogoBox {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.inGameLogo {
  width: 500px;
  align-items: center;
  position: absolute;
  border-radius: 20px;
  bottom: 470px;
  filter: drop-shadow(5px 5px 5px #000);
}
.Ready {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.GameWindow {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
/*캔버스를 밑으로 내리기 위한 div*/
.justBox {
  height: 80px;
}

.UserTable {
  display: flex;
  justify-content: center;
}

.inGameUserProfile {
  display: flex;
  border: 3px solid #e71a1a;
  border-radius: 15px;
  list-style: none;
  width: 300px;
  margin-bottom: 10px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
}
.inGameImg {
  width: 150px;
  border-radius: 12px;
}

.inGameUserNickName {
  font-size: 15px;
  padding: 5px;
  margin-left: 5px;
}
.comment {
  font-size: 15px;
  padding: 5px;
  margin-left: 5px;
}

.users {
  height: 100px;
  align-content: space-around;
}

.eraser {
  cursor: url('./images/eraser.png'), pointer;
}

.canvasBox {
  grid-row: 1;
  grid-column: 2;
  position: relative;
}
.whiteBoardInGame {
  margin-right: 200px;
}
canvas {
  grid-row: 1;
  grid-column: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  background-color: white;
  border: 5px solid #0f4d86;
  border-radius: 15px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
  width: 600px;
  height: 500px;
}

.pallette {
  display: flex;
}
.colors {
  margin: 10px;
}
.colors > div {
  border: 3px solid #302c3188;
  margin: 5px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
}

.Paint {
  display: flex;
}
.Paint > button {
  margin: 10px;
  width: 100px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
}

.Answer {
  display: flex;
  grid-row: 2;
  grid-column: 2;
  flex-direction: column;
  align-items: center;
}

.Answer input {
  user-select: auto;
  width: 400px;
  height: 35px;
}

.startOrQuitBtns {
  display: flex;
  grid-row: 2;
  grid-column: 3;
  justify-content: space-around;
}
.startOrQuitBtns button {
  width: 150px;
}

.colors {
  user-select: auto;
  display: flex;
}

.card {
  border: 2px solid #0f4d86;
  background-color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 600px;
  height: 400px;
}
.card h1 {
  text-align: center;
}

/*Colors********************************************************************/

.black {
  font-size: 0;
  background-color: black;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid white;
  cursor: url('./images/crayon_black.png'), pointer;
}

.red {
  font-size: 0;
  background-color: red;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid white;
  cursor: url('./images/crayon_red.png'), pointer;
}

.blue {
  font-size: 0;
  background-color: blue;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid white;
  cursor: url('./images/crayon_blue.png'), pointer;
}

.green {
  font-size: 0;
  background-color: green;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid white;
  cursor: url('./images/crayon_green.png'), pointer;
}

.yellow {
  font-size: 0;
  background-color: yellow;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid white;
  cursor: url('./images/crayon_yellow.png'), pointer;
}

/*Timer********************************************************************/

.chatBox {
  position: absolute;
  top: 0;
}
.timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 25px;
  color: rgb(78, 252, 171);
  right: 0;
  filter: drop-shadow(5px 5px 5px #000);
}

.timer_num {
  font-weight: bold;
  text-align: center;
}

/*Result********************************************************************/
.result_box {
  position: relative;
  grid-row: 1;
  grid-column: 2;
  width: 600px;
  height: 500px;
}

.result {
  border-radius: 15px;
  width: 600px;
  height: 500px;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  box-sizing: border-box;
  bottom: 0;
}

.res_header {
  color: white;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

.res_body {
  border: 2px solid white;
}

.res_body_header {
  text-align: center;
  color: white;
  border: 2px solid red;
  font-size: 20px;
}

.res_body_winner {
  border: 2px solid green;
  color: white;

  text-align: center;
  margin-top: 10px;
}

.winner {
  margin: 10px;
}

/*SelectWords********************************************************************/
.selectWords_background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
}
.container_WordBox {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.WordBox {
  background-image: url('./images/mindcaptor_background_game.png');
  background-size: 500px;
  border: 5px solid #0f4d86;
  border-radius: 15px;
  width: 600px;
  height: 300px;
  background-color: rgb(100, 194, 194);
  position: relative;
  box-sizing: border-box;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  grid-column: 2;
  grid-row: 1;

  margin-right: 35px;
  margin-top: 180px;
}

.selectWord {
  height: 100%;
  width: 240px;
  background-image: url('./images/mindcaptor_logo_choice.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: rgb(100, 194, 194);
  /* -webkit-text-stroke: 1px white; */
}

.wordBtns {
  display: flex;
  flex-direction: row;
  width: 600px;
  justify-content: space-around;
  margin-bottom: 10px;
}

.wordBtns button {
  width: 150px;
  height: 50px;
}

.blankForWordBox {
  width: 300px;
}

.isInGame {
  font-size: 50px;
  color: red;
  position: absolute;
  bottom: 230px;
  right: 150px;
}

.social_btn {
}

.bgm {
  width: 60px;
  height: 60px;
}

.idCreatedOk {
  position: absolute;
  box-sizing: border-box;
  text-align: center;
  width: 400px;
  height: 100px;
  border: 5px solid #0f4d86;
  border-radius: 15px;
  padding: 35px;
  background-color: #77acf1;
  transition: opacity 1.5s ease;
  font-size: 20px;
  color: white;
  top: 10%;
}

.inGame_user {
  border: 2px solid red;
}
.Back {
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
}
