* {
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  padding: 0;
  font-family: 'CookieRunOTF-Bold';
}
@font-face {
  font-family: 'CookieRunOTF-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/CookieRunOTF-Bold00.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  width: 100%;
  height: 100%;
  background-image: url('./images/mindcaptor_background_blueGame.png');
}
body {
  /* background-image: url('./images/mindcaptor_background_game.png'); */
  background-size: cover;
  background-repeat: repeat;
  background-size: 1000px;
  /* background-image: linear-gradient(#f4f9f9, #ccf2f4, #a4ebf3, #aaaaaa); */
}

input {
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
  font-size: 15px;
}

button {
  background: #4fb3db;
  color: #fff;
  border: 5px solid #0f4d86;
  border-radius: 30px;
  height: 60px;
  font-size: 1.5rem;
  cursor: pointer;
  transition: 800ms ease all;
  margin: 10px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
  margin: 30px;
}

button:hover {
  background: #fff;
  color: #0f4d86;
}

button:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}
button:hover:before,
button:hover:after {
  width: 100%;
  transition: 800ms ease all;
}

/* button {
  display: block;
  font-size: 30px;
  background-color: #4fb3db;
  border: 5px solid #0f4d86;
  border-radius: 30px;
  padding: 10px;
  margin: 30px;
  color: white;
  font-weight: bold;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
}

button:hover {
  color: rgba(255, 255, 255, 0.85);
  box-shadow: #0f4d86 0 80px 0px 2px inset;
} */

/* 왼쪽 밑에서 차오르는 버튼 효과 button,
button::after {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

button {
  ---버튼 모든 css제거---
  background: inherit;
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  overflow: visible;
  cursor: pointer; 
  ---버튼 모든 css제거---
  background: none;
  border: 3px solid #fff;
  border-radius: 5px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
}

button::before,
button::after {
  background: #fff;
  content: '';
  position: absolute;
  z-index: -1;
}

button:hover {
  color: #efab00;
} */
.mainTotal {
  display: flex;
  flex-direction: row;
}
.main {
  flex-direction: column;
  width: 500px;
  height: 300px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}

.logo {
  margin-top: 78px;
  border-radius: 30px;
  filter: drop-shadow(5px 5px 5px #000);
}

.entry_div {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
/*guest login*/
.entry_btn {
  width: 300px;
  font-size: 30px;
  height: 80px;
  cursor: pointer;
  margin-right: 60px;
}

.member_entry_btn {
  width: 300px;
  font-size: 30px;
  height: 80px;
  cursor: pointer;
  margin-left: 60px;
}

.main_btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  margin-right: 20px;
  right: 0;
  top: 0;
}

.member_signup_btn {
  width: 150px;
  height: 60px;
  cursor: pointer;
  border-radius: 100px;
  margin-bottom: 10px;
}

.summery_btn {
  width: 150px;
  height: 60px;
  cursor: pointer;
  border-radius: 100px;
  margin-bottom: 10px;
}

.howToPlay_btn {
  width: 150px;
  height: 60px;
  cursor: pointer;
  border-radius: 100px;
}

/*Signin********************************************************************/

.container_singin {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
}

.failed_sginin {
  position: absolute;
  box-sizing: border-box;
  text-align: center;
  width: 400px;
  height: 100px;
  border: 5px solid #0f4d86;
  border-radius: 15px;
  padding: 35px;
  background-color: #77acf1;
  transition: visibility 2s, opacity 0.5s linear;
  font-size: 20px;
  color: white;
  bottom: 500px;
}

.signin {
  width: 480px;
  height: 600px;
  background-color: white;
  position: relative;
  box-sizing: border-box;
  margin: 50px auto;
  padding: 20px;
  background: #fff;
}

.signin_box {
  margin: 0 auto;
  width: 100%;
  height: 500px;

  position: relative;
  padding: 0 20px 30px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.signin_exit {
  float: right;
  font-size: 30px;
  cursor: pointer;
  color: black;
}

.signin_logo {
  width: 150px;
  margin: 0 auto;
}

.signin_input {
  margin-top: 20px;
  border-radius: 2px;
  width: 100%;
  height: 40px;
  border: 1px solid #e5e5e5;
  padding: 9px 12px;
  outline: none;
  box-sizing: border-box;
  justify-content: center;
}

.signin_btn {
  height: 40px;
  width: 100%;
  font-size: 15px;
  padding: 13px 30px;
  cursor: pointer;
  color: white;
  line-height: 1px;
  margin-top: 20px;
  margin-bottom: 12px;
  border-radius: 3px;
  border-style: none;
  justify-content: center;
}

.signin_btn:hover {
  box-shadow: 0 0 6px #4285f4;
}
.signin_btn:active {
  background: #1669f2;
}

/*googleSocialLogin*****************************************************/

.social_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-around;
}

.social_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  border-radius: 50%;
}

/* $white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669f2; */

.google-btn {
  width: 400px;
  height: 42px;
  background-color: #4285f4;
  border-radius: 2px;
  cursor: pointer;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
}

.google-icon-wrapper {
  position: absolute;
  margin-top: 1px;
  margin-left: 1px;
  width: 40px;
  height: 40px;
  border-radius: 2px;
  background-color: #fff;
}

.google-icon {
  position: absolute;
  margin-top: 11px;
  margin-left: 11px;
  width: 18px;
  height: 18px;
}

.btn-text {
  margin: 11px 11px 0 0;
  color: #fff;
  font-size: 15px;
  letter-spacing: 0.2px;
  font-family: 'Roboto';
  text-align: center;
  margin-left: 25px;
}

.google-btn:hover {
  transition: 800ms ease all;

  box-shadow: 0 0 6px #4285f4;
}
.google-btn:active {
  background: #1669f2;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:500);

/*Signup********************************************************************/

* {
  margin: 0;
  padding: 0;
}

.container_signup {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
}

.signup {
  width: 480px;
  height: 600px;
  background-color: white;
  position: relative;
  box-sizing: border-box;
  margin: 50px auto;
  padding: 20px;
  background: #fff;
}

.signup_box {
  margin: 0 auto;
  width: 100%;
  height: 500px;
  position: relative;
  padding: 0 20px 30px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.signup_exit {
  float: right;
  font-size: 30px;
  cursor: pointer;
  color: black;
}

.signup_input {
  margin-top: 20px;
  border-radius: 2px;
  width: 100%;
  height: 40px;
  border: 1px solid #e5e5e5;
  padding: 9px 12px;
  outline: none;
  box-sizing: border-box;
  justify-content: center;
}

.signup_btn {
  height: 40px;
  width: 100%;
  font-size: 15px;
  padding: 13px 30px;
  cursor: pointer;
  color: white;
  line-height: 1px;
  margin-top: 20px;
  margin-bottom: 12px;
  border-radius: 3px;
  border-style: none;
  justify-content: center;
}

.signup_btn:hover {
  box-shadow: 0 0 6px #4285f4;
}
.signup_btn:active {
  background: #1669f2;
}

/*Waiting********************************************************************/

.waiting {
  display: flex;
  flex-direction: column;
}

.profile_img {
  filter: drop-shadow(5px 5px 5px #000);
  border-radius: 30px;
  margin-bottom: 30px;
}

.waiting_signout_btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  margin-right: 20px;
  right: 0;
}

.signout_btn {
  width: 45px;
  height: 160px;
}

.waiting_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.waiting_btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px;
}

.entry_game_btn {
  width: 300px;
  font-size: 50px;
  height: 110px;
}

.create_game_btn {
  width: 300px;
  font-size: 50px;
  height: 110px;
}

.mypage_btn {
  width: 300px;
  font-size: 50px;
  height: 110px;
}

.userInfo {
  zoom: 3;
}

/*GamePages********************************************************************/
.Ready {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.GameWindow {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.userProfile {
  border: 2px solid tomato;
  list-style: none;
  width: 300px;
}

.UserTable {
}

.eraser {
  cursor: url('./images/eraser.png'), pointer;
}

.WhiteBorad {
  grid-row: 1;
  grid-column: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  background-color: white;
  border: 5px solid #0f4d86;
  border-radius: 15px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
}
canvas {
  border-bottom: dotted #0f4d86;
}
.Color {
}

.Paint {
  display: flex;
}
.Paint > button {
  margin: 5px;
}

.Answer {
  display: flex;
  grid-row: 2;
  grid-column: 2;
  flex-direction: column;
  align-items: center;
}

.Answer input {
  user-select: auto;
  width: 400px;
  height: 35px;
}

.startOrQuitBtns {
  display: flex;
  grid-row: 2;
  grid-column: 3;
  justify-content: space-around;
}
.startOrQuitBtns button {
  width: 100px;
}

.Colors {
  user-select: auto;
  display: flex;
}

.card {
  border: 2px solid red;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.card h1 {
  text-align: center;
}
/*Colors********************************************************************/

.black {
  font-size: 0;
  background-color: black;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid white;
  cursor: url('./images/crayon_black.png'), pointer;
}

.red {
  font-size: 0;
  background-color: red;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid white;
  cursor: url('./images/crayon_red.png'), pointer;
}

.blue {
  font-size: 0;
  background-color: blue;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid white;
  cursor: url('./images/crayon_blue.png'), pointer;
}

.green {
  font-size: 0;
  background-color: green;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid white;
  cursor: url('./images/crayon_green.png'), pointer;
}

.yellow {
  font-size: 0;
  background-color: yellow;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid white;
  cursor: url('./images/crayon_yellow.png'), pointer;
}

/*Timer********************************************************************/

.timer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid tomato;
  font-size: 25px;
  color: rgb(78, 252, 171);
}

.timer_num {
  font-weight: bold;
}

/*Result********************************************************************/
.result_box {
  position: relative;
  grid-row: 1;
  grid-column: 2;
  width: 600px;
  height: 500px;
}

.result {
  border: 2px solid black;
  border-radius: 15px;
  width: 600px;
  height: 500px;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  box-sizing: border-box;
  bottom: 0;
}

.res_header {
  color: white;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

.res_body {
  border: 2px solid white;
}

.res_body_header {
  text-align: center;
  color: white;
  border: 2px solid red;
  font-size: 20px;
}

.res_body_winner {
  border: 2px solid green;
  color: white;

  text-align: center;
  margin-top: 10px;
}

.winner {
  margin: 10px;
}

/*SelectWords********************************************************************/
.selectWords_background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
}
.container_WordBox {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.WordBox {
  background-image: url('./images/mindcaptor_background_game.png');
  background-size: 500px;
  border: 5px solid #0f4d86;
  border-radius: 15px;
  width: 600px;
  height: 300px;
  background-color: rgb(100, 194, 194);
  position: relative;
  box-sizing: border-box;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  grid-column: 2;
  grid-row: 1;

  margin-right: 35px;
  margin-top: 180px;
}

.selectWord {
  height: 100%;
  width: 240px;
  background-image: url('./images/mindcaptor_logo_word2.png');
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgb(100, 194, 194);
  /* -webkit-text-stroke: 1px white; */
}

.wordBtns {
  display: flex;
  flex-direction: row;
  width: 600px;
  justify-content: space-around;
  margin-bottom: 10px;
}

.wordBtns button {
  width: 150px;
  height: 50px;
}

.blankForWordBox {
  width: 300px;
}

.isInGame {
  font-size: 50px;
  color: red;
  position: absolute;
  bottom: 230px;
  right: 150px;
}

.social_btn {
}

.bgm {
  width: 60px;
  height: 60px;
}
